<mat-card class="example-card">
    <mat-card-header>      
      <mat-card-title>Modulo Inglés</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        El Módulo de inglés está constituido por 55 preguntas de opción múltiple con única respuesta correcta. Estas preguntas permiten que el estudiante demuestre sus
habilidades comunicativas a nivel de lectura y uso del lenguaje en inglés.
    </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">ABRIR</button>
    </mat-card-actions>
</mat-card>
